:root{
    --acc-clr: #FF7E71;
    --bg-clr: #F6D155;
    --bright: #ffffff;
    --dark: #393939;
    --padding: 30px;
    --cont-width: 900px; 
}
*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


/* Aside */

aside{
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    width: fit-content;
}

.passport{
    width: 300px;
    height: 300px;
}

aside > nav > ul{
    list-style: none;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 25px;
}

aside > nav > ul > li{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

aside > nav > ul > li > a, i {
    text-decoration: none;
    color: var(--bright);
}

aside > nav > ul > li > i{
    color: var(--acc-clr);
}

aside > footer {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 24px;
}

aside > footer > a{
    background-color: var(--acc-clr);
    padding: 10px;
}

aside > footer > a i{
    font-size: 25px;
    color: var(--dark);
}


/* CONTENT:
   Home */
main{
    width: var(--cont-width);
    height: 500px;
    overflow-y: scroll;

    /* border: 4px solid black; */
}

section{
    background-color: var(--bright);
    width: auto;
    margin-top: 50px;
    padding: var(--padding);
}

section h2{
    margin-bottom: 1.8rem;
}

#home{
    display: flex;
    justify-content: space-between;
}

#home > .text{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 25px;
}

.passport2{
    width: fit-content;
    height: 300px;
}

main > .btn{
    margin-bottom: 50px;
    width: 100%;
    display: flex;
}

main .btn > button{
    width: 100%;
    padding: 16px;
    font-size: 23px;
    border: none;
}

.btn > button:nth-child(1){
    background-color: var(--dark);
    color: var(--acc-clr);
    transition: all 0.2s ease;
}

.btn > button:nth-child(2){
    background-color: var(--acc-clr);
    color: var(--dark);
    transition: all 0.2s ease;
}

.btn > button:nth-child(1):hover{
    background-color: #504f4f;
}

.btn > button:nth-child(2):hover{
    background-color: #ff988f;
}

/* About */
#about{
    display: block;
}

#about > .info{
    margin-top: 16px;
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 50px;
}

#about > .info > img{
    width: 200px;
    height: 200px;
}

.info > p > button{
    border: none;
    padding: 10px;
    font-size: 20px;
    background-color: var(--acc-clr);
    color: var(--dark);
    transition: all 0.3s ease;
}

.info > p > button:hover{
    background-color: var(--dark);
    color: var(--acc-clr);
}

.skills{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 45%);
    row-gap: 16px;
    column-gap: 70px;
}

.percentage{
    width: 100%;
    height: 10px;
}

.progress{
    color: var(--acc-clr);
    height: 10px;
}

.skills .skill-info{
    width: 100%;
    font-size: 18px;
}

.skills > .design > .skill-info { 
    display: flex;
    justify-content: space-between;
}

.skills > .design > .percentage {
    border: 2px solid var(--acc-clr);
}

.skills > .design > .percentage > .progress{
    background-color: var(--acc-clr);
    width: 85%;
}

.skills > .develop > .skill-info { 
    display: flex;
    justify-content: space-between;
}

.skills > .develop > .percentage {
    border: 2px solid var(--acc-clr);
}

.skills > .develop > .percentage > .progress{
    background-color: var(--acc-clr);
    width: 90%;
}

.skills > .seo > .skill-info { 
    display: flex;
    justify-content: space-between;
}

.skills > .seo > .percentage {
    border: 2px solid var(--acc-clr);
}

.skills > .seo > .percentage > .progress{
    background-color: var(--acc-clr);
    width: 95%;
}

.skills > .market > .skill-info { 
    display: flex;
    justify-content: space-between;
}

.skills > .market > .percentage {
    border: 2px solid var(--acc-clr);
}

.skills > .market > .percentage > .progress{
    background-color: var(--acc-clr);
    width: 85%;
}

/* Education */
.edu-container{
    display: flex;
}

.row1, .row2{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-left: 3px solid var(--acc-clr);
}

.row1 > article:nth-child(1){
    border-bottom: 3px solid var(--acc-clr);
}

.row2 > article:nth-child(1){
    border-bottom: 3px solid var(--acc-clr);
}

.edu-container article{
    width: 90%;
    padding-left: 20px;
}

/* Services */
.column1, .column2{
    display: flex;
    gap: 16px;
}

.column1 {
    margin-bottom: 16px;
}

#service article{
    width: 50%;
}

#service article i{
    font-size: 90px;
}

/* Portfolio */
#port .category{
    list-style: none;
    display: flex;
    border-top: 3px solid var(--acc-clr);
    border-bottom: 3px solid var(--acc-clr);
    border-left: 3px solid var(--acc-clr);
    width: fit-content;
}

#port .category > button{
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    border-right: 3px solid var(--acc-clr);
    background: none;
    padding: 10px;
    text-align: center;
    transition: all 0.25s ease-in;
}

#port .category > button:hover{
    background-color: var(--acc-clr);
}

#port .category > button:nth-of-type(1){
    background-color: var(--acc-clr);
}

.port-container{
    display: grid;
    row-gap: 40px;
    grid-template-columns: repeat(auto-fit,  minmax(230px, 1fr));
    margin-top: 30px;
}

.port-container div{
    text-align: center;
}

.port-container > div > a{
    text-decoration: none;
    font-weight: 750;
    color: var(--dark);
}

.port-container > div img{
    background-color: var(--acc-clr);
    width: 230px;
    height: 230px;
}

/* Review */
#review p{
    font-size: 1.2rem;
}

.user {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.user img{
    width: 75px;
    height: 75px;
    margin-right: 12px;
}

/* Contact */
#contact div{
    display: flex;
}

#contact div > .contact-details{
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    gap: 10px;
    width: 50%;
}

.contact-details a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease-in-out; 
}

.contact-details a:hover{
    color: var(--acc-clr);
}

#contact div > form{
    display: grid;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}

#contact div > form > input{
    padding: 10px;
}

#contact div > form > button{
    background: var(--acc-clr);
    color: var(--dark);
    transition: all 0.3s ease-in;
    padding: 10px;
}

#contact div > form > button:hover{
    background-color: var(--dark);
    color: var(--acc-clr);
}

/* Media Queries */
